.box {
    margin: 1% 5% 0% 5%;
    padding-top:1%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: 1px solid #c9c4c4;
}
.container {
    margin-top: 1%;
    border-radius: 15px;
    padding:1%;
    border: 0px solid rgb(211, 211, 211);
    background-color: lightgray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.empN {
    margin-left:1%; 
}
.form1 {
    padding-top:1%;
    margin-left:2% ;
    margin-right:2%;
}
.button {
    padding-top:1%;
    margin-left:2% ;
    margin-right:2%;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}